.app {
  height: 100dvh;
  width: 100%;
}

.pattern {
  height: 500px;
  background-image: linear-gradient(
    #e69d37,
    #e69d37 20%,
    #dd512c 20%,
    #dd512c 40%,
    #d6302f 40%,
    #d6302f 60%,
    #9c1d34 60%,
    #9c1d34 80%,
    #531b45 80%,
    #531b45
  );
}
